.PurchaseOrderListing{
    flex: 4;
}
.purchaseWidgetClient{
    display: flex;
    margin: 20px 90px;
}
.container{
    display: flex;
    margin: 0px;
  }
.PurchaseClient{
    display: flex;
    margin: 20px 40px;
    color:rgb(125, 125, 125);
  }
  .newPurchaseForm{
    display: flex;
    flex-wrap: wrap;
}
.newPurchaseItem
{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}
.newPurchaseItem>label{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    color:rgb(125, 125, 125);
}
.newPurchaseItem>input{
    height: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.namedefine
{
    margin-top: 10px;
}
.table
{
    margin: 20px 20px;
}
.PurchaseCreateButton
{
    width: 100px;
    border: none;
    background-color: gray;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 442px;
    cursor: pointer;
}
.PurchaseClearButton
{
    width: 100px;
    border: none;
    background-color: gray;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 35px;
    margin-left: 10px;
}