.ProductListing{
    flex: 4;
}
.ProductListingWidgetClient{
    display: flex;
    margin: 20px;
}
.container{
    display: flex;
    margin: 0px;
}
.edit{
    margin: 0px;
    width: 60px;
}
.icon
{
    margin: 10px;
}
.deleteicon
{
    margin: 8px;
}