.DeliveryListing{
    flex: 4;
}
.DeliveryListingWidgetClient{
    display: flex;
    margin: 20px;
}
.container{
    display: flex;
    margin: 0px;
  }
.edit{
    font-weight: 600;
    height: 25px;
}
.icon
{
   margin-left:15px;
   margin-right:5px;
}
.deleteicon
{
    margin-left:2px;
}
.DeliveryOrderListingClient{
    display: flex;
    margin: 20px 40px;
    color:rgb(125, 125, 125);
  }