.InvoiceAmend{
    flex: 4;
}
.InvoiceAmendWidgetClient{
    display: flex;
    margin: 20px 90px;
}
.InvoiceAmendClient{
    display: flex;
    margin: 20px 40px;
    color:rgb(125, 125, 125);
}
.namedefine
{
    margin-top: 10px;
}
.table
{
    margin: 20px 20px;
}
.InvoiceAmendCreateButton
{
    width: 100px;
    border: none;
    background-color: gray;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 120px;
    cursor: pointer;
}
.InvoiceAmendClearButton
{
    width: 100px;
    border: none;
    background-color: gray;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 35px;
    margin-left: 10px;
}
.newInvoiceAmendForm{
    display: flex;
    flex-wrap: wrap;
}
.newInvoiceAmendItem
{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}
.newInvoiceAmendItem>label{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    color:rgb(125, 125, 125);
}
.newInvoiceAmendItem>input{
    height: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}