.container{
    display: flex;
    margin: 0px;
    width: 100%;
}
.middle-1{
    position: absolute;
    top: 50%;
    left: 50%;
   font-size: 18px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .hcolor-1
  {
    color:rgb(0, 0, 0);
  }