.container{
    display: flex;
    margin: 0px;
    width: 100%;
}
.middle-1{
    position: absolute;
    top: 60%;
    left: 70%;
   font-size: 18px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .hcolor-1
  {
    color:rgb(255, 255, 255);
  }