.RegClient{
    display: flex;
    margin: 20px 40px;
    color:rgb(125, 125, 125);
}
.RegClientNo
{
    display: flex;
    margin: 50px;
    color:rgb(125, 125, 125);
    margin-top: 10px;
}
.column {
    float: left;
    width: 28%;
    padding: 5px;
    height: max-content;
  }
  .newDistributorItem-1
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}
.newDistributorItem-1>label{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    color:rgb(125, 125, 125);
}
.newDistributorItem-1>input{
    height: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.newDistributorItem-1>select{
    height: 33px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}
.newDistributorItem-1-button
{ 
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
.pull-right {
    float: right;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;
  }
  .pull-right-text {
    float: right;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;
    height: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  .RegWidgetClient-sub{
    display: flex;
    color:rgb(32, 84, 255);
}
.form-display
{
    margin: 50px;
    margin-top: -60px;
}