.middle {
    position: absolute;
    top: 50%;
    left: 50%;
   font-size: 18px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
    color: rgb(0, 0, 0);
  }
  .link{
    text-decoration: none;
    color: inherit;
  }
  .hcolor
  {
    color:rgb(0, 0, 0);
  }
  .imagedata
  {
    width: 100%;
    height: 100%;
  }